extends ../layout
include ../components/hero

mixin cardDesktopLeft(alt, src, h3, h4, bio)
  .columns.is-hidden-touch
    .column(style="margin: auto;")
      +figure(alt, src)
    .column
      +content(h3, h4, bio)

mixin cardDesktopRight(alt, src, h3, h4, bio)
  .columns.is-hidden-touch
    .column.has-text-right
      +content(h3, h4, bio)
    .column(style="margin: auto;")
      +figure(alt, src)

mixin cardTouch(alt, src, h3, h4, bio)
  .card.is-hidden-desktop
    .card-image
      +figure(alt, src)
    .card-content
      .media
        .media-content
          +content(h3, h4, bio)

mixin content(h3, h4, bio)
  h3= h3
  h4.subtitle= h4
  .content= bio

mixin figure(alt, src)
  figure.is-2by3
    img(alt= alt heigth="381" src= src width="254")

block hero
  +hero("/images/pages/about/34561279_s.jpg", copy['who-we-are'])

block content
  p= copy['about-content-1']
  p= copy['about-content-2']
  p.is-putty.is-serif.has-text-centered= copy['about-content-highlight']
  hr
  p= copy['about-content-3']
  p= copy['about-content-4']
  include ../cta/quote
  +cardTouch(copy['lisa-smith'], "/images/pages/about/lisa-smith-bw.png", copy['lisa-smith'], copy['founder'], copy['lisa-smith-bio'])
  +cardDesktopLeft(copy['lisa-smith'], "/images/pages/about/lisa-smith-bw.png", copy['lisa-smith'], copy['founder'], copy['lisa-smith-bio'])
