extends ../layout

block content
  .section
    .container
      .content
        h1= copy[page.key]
  .section
    .container
      .content
        h2= copy['from-audio-to-script']
        p= copy['format-content-1']
  include ../cta/upload
  .section
    .container
      .content
        h2= copy['the-written-word']
        p= copy['format-content-2']
  .section
    .container
      .content
        p
          ul
            li format sample 1
            li format sample 2
            li format sample 3
