extends ../layout
include ../components/pdf

block content
  .section
    .container
      .content
        h1= copy[page.key]
  .section
    .container
      .content
        figure
          img(src="https://bulma.io/images/placeholders/256x256.png")
        h2= copy['from-audio-to-script']
        p= copy['format-content-1']
  include ../cta/order
  .section
    .container
      .content
        figure
          img(src="https://bulma.io/images/placeholders/256x256.png")
        h2= copy['the-written-word']
        p= copy['format-content-2']
  .section
    .container
      .columns
        .column
          +pdf("/documents/Sample Transcript .pdf", copy['standard-timecoded-transcript'])
        .column
          +pdf("/documents/template_As Broadcast.pdf", copy['as-broadcast-transcript'])
        .column
          +pdf("/documents/template_audio.pdf", copy['standard-audio-transcript'])
