extends ../layout

block content
  .section
    .container
      .content
        h1= copy[page.key]
  .section
    .container
      .content
        figure
          img(src="https://bulma.io/images/placeholders/256x256.png")
        h2= copy['from-audio-to-script']
        p= copy['format-content-1']
  include ../cta/order
  .section
    .container
      .content
        figure
          img(src="https://bulma.io/images/placeholders/256x256.png")
        h2= copy['the-written-word']
        p= copy['format-content-2']
  .section
    .container
      .content
        ul
          li
            a(href="/documents/Sample Transcript .pdf" target="_blank") Standard Timecoded Transcript
          li
            a(href="/documents/template_As Broadcast.pdf" target="_blank") As Broadcast Transcript
          li
            a(href="/documents/template_audio.pdf" target="_blank") Standard Audio Transcript
