extends ../layout

block content
  .section
    .container
      .content
        h1= copy[page.key]
  .section
    .container
      .content
        figure
          img(src="https://bulma.io/images/placeholders/256x256.png")
        h2= copy['payment']
        p= copy['payment-content-1']
        p= copy['payment-content-2']
        p= copy['payment-content-4']
        p
          a(href="/documents/MOP Credit card authorization form .pdf" target="_blank") Credit Card Authorization Form
        p= copy['payment-content-3']
  .section
    .container
      .content
        #root
        script(src= appPath)
  .section
    .container
      .content
        #paypal-button-container
        script(src="javascripts/paypal.js")
