extends ../layout
include ../components/hero
include ../components/pdf

block hero
  +hero("/images/pages/payment/ramiro-mendes-371663-unsplash_s.jpg", copy[page.key])

block content
  p= copy['payment-content-1']
  h2= copy['check']
  p= copy['payment-content-2']
    address= copy['company-address']
  h2= copy['credit-card-authorization-form']
  p= copy['payment-content-3']
  +pdf("/documents/MOP Credit card authorization form .pdf", copy['credit-card-authorization-form'])
  if features.paypal
    #root
    script(src= appPath)
