extends ../layout
include ../components/hero

block hero
  +hero("/images/pages/services/37327360_l_s.jpg", copy['what-we-do'])

block content
  h2= copy['transcription']
  p= copy['services-content-1']
  figure.is-marginless
    img(src="/images/pages/services/joao-silas-72562-unsplash (1).jpg")
  h2= copy['translation']
  p= copy['services-content-2']
  figure.is-marginless
    img(src="/images/pages/services/noom-peerapong-30948-unsplash.jpg")
  h2= copy['closed-captioning-and-subtitles']
  p= copy['services-content-3']
  figure.is-marginless
    img(src="/images/pages/services/clark-young-160446-unsplash.jpg")
  h2= copy['writing-services']
  p= copy['services-content-4']
  include ../cta/order
