.section
  .container
    .columns
      .column.has-text-centered
        a(href="/payment")= copy['payment']
      .column.has-text-centered
        a(href="/quote")= copy['quote']
      .column.has-text-centered
        a(href="/contact")= copy['contact']
    .columns
      .column.has-text-centered.is-size-7= `${name} v${version}`
