nav.navbar
  .navbar-brand
    a.navbar-item(href="/")
      | &nbsp;
      span.is-uppercase= copy['moving']
      | &nbsp;
      span.is-uppercase.has-text-weight-bold= copy['on']
      | &nbsp;
      span.is-uppercase.has-text-weight-bold= copy['productions']
    .burger.navbar-burger(data-target="_menu")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")
  #_menu.navbar-menu
    .navbar-start
      a.navbar-item(href="/about")= copy['about']
      a.navbar-item(href="/format")= copy['format']
      a.navbar-item(href="/services")= copy['services']
