.section
  .container
    .columns.has-text-centered
      .column
        img(height="46" src="images/logo-light.svg" width="162")
    .columns
      .column.has-text-centered
        a(href="/payment")= copy['payment']
      .column.has-text-centered
        a(href="/quote")= copy['quote']
      .column.has-text-centered
        a(href="/contact")= copy['contact']
    .columns
      .columns.has-text-centered
        ul.social
          li
            span.icon.is-medium
              i.fab.fa-linkedin-in
          li
            span.icon.is-medium
              i.fab.fa-twitter
          li
            span.icon.is-medium
              i.fab.fa-facebook-f
    .columns
      .column.has-text-centered.is-size-7.is-charcoal-grey= `${name} v${version}`
